/* GENERAL */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 45px 0 80px 0;
}
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2 {
    text-transform: uppercase;
}
ul, ol {
    list-style: none;
}
.black-divider {
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
}
.gray-divider {
    width: 100px;
    height: 2px;
    background-color: gray;
    margin: 0 auto;
}
.white-divider {
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
/* MENU */
.navbar {
    background-color: #555;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar li a {
    color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: whitesmoke !important;
    background-color: #111 !important;
}
.icon-bar {
    background-color: #fff !important;
}
/* ABOUT */
#about {
    background: url("../images/space-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-picture {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#about .heading h1 {
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 30px;
}
#about .heading h3 {
    color: #aaa;
}
.button {
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
    border: 2px solid gray;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    background: transparent;
}
.button:hover {
    background: gray;
    color: black;
    text-decoration: none;
    border: 2px solid whitesmoke;
}
/* SKILLS */
#skills {
    background-color: #fff;
}
#skills .heading h2 {
    color: black;
    margin: 30px auto;
}
#skills .progress {
    height: auto;
    margin: 0 0 30px 0;
    background-color: gray;
}
#skills .progress-bar {
    background-color: #111;
}
#skills .progress h5 {
    margin-top: 5px;

}
/* EXPERIENCE */
#experience {
    background-color: #111;
}
#experience .heading h2 {
    color: whitesmoke;
    margin: 30px auto;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: whitesmoke;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline li .timeline-badge {
    color: #111;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px #ddd;
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4 {
    color: #555;
    font-size: 18px;
}
/* EDUCATION */
#education {
    background-color: #fff;
}
#education .heading h2 {
    color: black;
    margin: 30px auto;
}
.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid #555;
    margin-bottom: 20px;
    color: #111;
}
.education-block h5 {
    font-size: 15px;
    margin-bottom: 15px;

}
.education-block .glyphicon {
    font-size: 40px;
}
.education-block h4 {
    margin-bottom: 20px;
}
.education-block p {
    font-weight: bold;
}
.education-block .black-divider {
    margin-bottom: 20px;
}
/* PORTFOLIO */
#portfolio {
    background-color: #111;
}
#portfolio .heading h2 {
    color: #fff;
    margin: 30px auto;
}
#portfolio .thumbnail img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover {

    filter: none;
    -webkit-filter: none;
}
/* RECOMMANDATIONS */
#citations {
    background-color: #fff;
}
#citations .heading h2 {
    color: black;
    margin: 30px auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #111;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators li {
    border-color: #111;
}
.carousel-indicators li.active {
    background-color: #555;
}
#myCarousel .item {
    padding: 40px 30px;
}
#myCarousel .item h3 {
    color: #111;
    font-style: italic;
}
/* CONTACT */
#contact {
    background-color: #111;
}
#contact .heading h2 {
    color: #fff;
}
#contact-form {
  font-size: 20px;
  color: #fff;
}
.form-control {
  height: 50px;
  font-size: 18px;
}
.comments {
  font-style: italic;
  font-size: 18px;
  height: 25px;
  color: #ff5733;
}
#contact-form input[type=submit] {
  margin: 40px auto 0;
  display: block;
}
.thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}
/* FOOTER */
footer {
    background-color: #555;
    padding: 10px 0 10px;
}
footer .glyphicon {
    font-size: 25px;
    margin: 20px;
    color: whitesmoke;
    height: 30px;
}
footer .glyphicon:hover {
    font-size: 27px;
}
footer h5 a {
    color: whitesmoke;
    font-weight: normal;
}
footer h5 a:hover {
    color: whitesmoke;
    text-decoration: underline;
}