<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex,nofollow">
    <meta name="Content-language" content="french">
    <meta name="Rating" content="General">
    <meta name="revisit-after" content="1 month">
    <meta name="author" content="Sébastien RONDEAU-CAMEIRA">
    <title>rondeau-cameira.fr ॐ Templates</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="https://rondeau-cameira.fr/css/main.css">
    <script src="https://rondeau-cameira.fr/js/main.js"></script>
</head>
<body id="theme" class="theme-dark">
    <header>
        <a href="https://rondeau-cameira.fr/"><img src="img/aum_white.png" alt="" id="logo" class="small-logo"></a>
        <h1 class="small-title">templates.rondeau-cameira.fr</h1>
        <hr id="title-bar">
    </header>
    <main>
        <h2>Templates</h2>
        <ol>
        	<li>ॐ <a href="BoulangerieOtop/">Boulangerie O'Top</a></li>
            <li>ॐ <a href="ReparTout/">Repar'Tout</a></li>
            <li>ॐ <a href="TravelAgency/">Agence de voyage</a></li>
            <li>ॐ <a href="Top5jQuery/">Top 5 des meilleures actrices avec jQuery</a></li>
            <li>ॐ <a href="MonCvBootstrap/">Mon CV Responsive avec Bootstrap</a></li>
            <li>ॐ <a href="FormulaireAJAX/">Formulaire de contact AJAX</a></li>
            <li>ॐ <a href="BurgerCode/">Site dynamique BurgerCode</a></li>
        </ol>
    </main>
    <footer>
        <hr>
        <button id="btn-dark" onclick="vCss()" disabled="disabled"></button>
        <button id="btn-light" onclick="vCss()"></button>
    </footer>
</body>
</html>