<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Repar'Tout Pneus</title>
    <link rel="stylesheet" href="assets/css/flex.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <header>
        <img src="assets/img/logo.svg" alt="ReparTout Logo">
    </header>

    <main>
        <nav>
            <h3><a href="#">Menu</a></h3>
            <ul>
                <li><a href="#"><i class="fa fa-tasks"></i> Catégories</a></li>
                <li><a href="#"><i class="fa fa-book"></i> Catalogue</a></li>
                <li><a href="#"><i class="fa fa-users"></i> Clients</a></li>
                <li><a href="#"><i class="fa fa-shopping-basket"></i> Commandes</a></li>
            </ul>
        </nav>

        <section>
            <h2>Repar'Tout</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a tincidunt massa. Mauris molestie diam eu blandit imperdiet. Praesent leo felis, semper eu diam vitae, laoreet efficitur diam. Aliquam ultricies tincidunt tellus, non vulputate nisi scelerisque eu. Pellentesque in felis augue. Aenean gravida sem in pellentesque congue. Nullam eleifend id augue vitae dignissim. Ut iaculis lacus et tempus cursus. Donec vel tempus sapien.</p>

<p>Phasellus aliquam, neque nec blandit tempor, lorem velit tristique quam, at finibus massa mauris eget lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet neque imperdiet, vestibulum massa et, euismod ligula. Etiam tortor diam, accumsan eget sapien mattis, egestas vestibulum purus. Vivamus volutpat in ligula non ultricies. Integer ornare laoreet mauris id imperdiet. Ut fermentum turpis nec risus blandit, et auctor velit tincidunt. Sed massa lectus, vestibulum ut iaculis eu, scelerisque id ligula. Duis euismod nulla sem. Vestibulum massa mi, accumsan vitae egestas dignissim, blandit id eros. Suspendisse porttitor nisl rutrum ex lobortis, sed rhoncus dolor tincidunt. Nunc ultricies at lacus nec ornare. Vivamus sit amet quam sodales, lobortis nisi vitae, pellentesque est. Nulla justo tellus, rutrum ut nibh a, lobortis aliquam sem. Morbi vel mauris ut magna dictum convallis.</p>

<p>Integer venenatis ultrices ex. Nulla commodo nisi sapien, a sodales erat egestas vel. In vulputate libero augue, sit amet ornare nunc venenatis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae varius metus, nec viverra nulla. Fusce placerat metus a consectetur ornare. Nulla non magna feugiat, auctor urna in, pulvinar odio. Vivamus non arcu orci. Curabitur id auctor urna. Nulla auctor commodo nisi vitae ullamcorper. Maecenas vitae feugiat libero, eget sodales nisi. Maecenas aliquam sollicitudin enim sed gravida.</p>

<p>Morbi facilisis tincidunt tincidunt. Donec augue magna, molestie non consequat ac, laoreet id tellus. Integer ac lorem vitae lacus viverra mollis nec at massa. Fusce laoreet placerat luctus. Cras ullamcorper tempor aliquam. Aenean porta metus at placerat commodo. Donec laoreet orci sed sapien malesuada, non interdum mauris bibendum. Donec auctor eros ut suscipit mollis.</p>

<p>Aenean nec arcu eu risus posuere convallis. Pellentesque vel ultrices est. Donec ultrices mollis accumsan. Aliquam erat volutpat. Nullam dignissim est vel leo fermentum molestie. Nulla quis tristique lectus. Curabitur aliquam tincidunt nisl nec gravida. Proin et metus lectus. Donec erat lorem, imperdiet eget maximus at, dignissim ut dolor. Integer elementum, mauris ut pretium egestas, est lacus sollicitudin diam, at faucibus neque velit vitae ipsum. In dolor augue, maximus et nisl quis, aliquam tincidunt tortor. Cras scelerisque vestibulum ipsum, sit amet semper tellus porta in.</p>
        </section>

        <aside>
            <h3>Commandes en cours</h3>
            <ul>
                <li>Aucune commande.</li>
            </ul>
        </aside>
    </main>

    <footer>
        <a href="https://sebastien.rondeau-cameira.fr">&copy; 2019 rondeau-cameira.fr</a>
    </footer>
</body>
</html>